*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Roboto", sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg, skyblue,green,skyblue,green,skyblue);
}
.app{
    position: fixed;
    width: 100%;
    height: 90%;
    max-width: 600px;
    background: #ffffff69;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.app > .screen {
    display: none;
}
.app > .screen.active {
    display: block;
    height: 100%;
}
.screen .form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 80%;
    max-width: 400px;
}
.screen .form-input {
    width: 100%;
    margin: 20px 0px;
}
.screen h2 {
    margin-bottom: 20px;
    font-size: 30px;
    color: #111;
    border-bottom: 4px solid black;
    padding: 5px 0px;
    display: inline-block;
    border-radius: 8px;
    background:linear-gradient(to left,rgba(255, 255, 255, 0.966),skyblue,rgba(7, 207, 7, 0.664));
}
.screen .form-input label{
    display: block;
    margin-bottom: 5px;
}
.screen .form-input input{
    width: 100%;
    padding: 10px;
    border: 1px solid skyblue ;
    font-size: 16px;
    border-radius: 8px;
    background:linear-gradient(to right,rgba(0, 0, 0, 0.486),wheat,whitesmoke,white);
}
.screen .form-input button{
    padding: 10px 20px;
    background: green;
    color: #eee;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 8px;
}
.chat-screen .header {
    background: green;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.chat-screen .header .logo{
    font-size: 18px;
    color: #eee;
    font-weight: 600;
}
.chat-screen .header button {
    padding: 5px 10px;
    border: 1px solid #eee;
    background: transparent;
    color: #eee;
    font-size: 15px;
    cursor: pointer;
    outline: none;
    border-radius: 8px;
}
.chat-screen .messages {
    width: 100%;
    height: calc(100% - 100px);
    background: #f5f5f5;
    /* background chat. message... */
    overflow: auto;
}
.chat-screen .messages .message{
    display: flex;
    padding: 10px;
}
.chat-screen .messages .message > div{
    max-width: 80%;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgb(0, 0, 0,0.05);
    padding: 10px;
}
.chat-screen .messages .message.my-message {
    justify-content: flex-end;
}
.chat-screen .messages .message.other-message{
    justify-content: flex-start;
}
.chat-screen .messages .message .name {
    font-size: 13px;
    color: #555;
    background:linear-gradient(to right,rgba(0, 0, 255, 0.322),rgba(135, 207, 235, 0.733));
    margin-bottom: 5px;
}
.chat-screen .messages .message .text{
    word-wrap: break-word;
}
.chat-screen .messages .update {
    text-align: center;
    padding: 10px;
    font-size: italic;
}
.chat-screen .typebox{
    width: 100%;
    height: 50px;
    display: flex;
}
.chat-screen .typebox input {
    flex: 1;
    height: 50px;
    font-size: 18px;
    text-align: center;
    background:linear-gradient(rgba(0, 0, 0, 0.486),rgba(245, 222, 179, 0.74),whitesmoke,white,grey);

}
.chat-screen .typebox button {
    width: 80px;
    height: 100%;
    background: green;
    color: #eee;
    font-size: 16px;
    outline: none;
    border: none;
    border-color: #eee;
    cursor: pointer;
    border-bottom-right-radius: 30px;
}
